<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>19/03/24 11:55:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FieldExperience.TC001_Demo_Form_Creation(com.MFA.framework.selenium.SeleniumTestParameters)[pri:0, instance:testscripts.FieldExperience@66480dd7]">TC001_Demo_Form_Creation</td> 
  <td>TestNG-test=Test for Field Experience Scenario-1@1132979105</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/03/24 11:55:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRAFTTestCase.setUpTestRunner()[pri:0, instance:testscripts.FieldExperience@66480dd7]">&gt;&gt;setUpTestRunner</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test for Field Experience Scenario-1@1132979105</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/03/24 11:55:42</td>   <td>-287</td> <td title="&gt;&gt;CRAFTTestCase.setUpTestSuite(org.testng.ITestContext)[pri:0, instance:testscripts.FieldExperience@66480dd7]">&gt;&gt;setUpTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/03/24 11:55:46</td>   <td>3630</td> <td title="&lt;&lt;CRAFTTestCase.tearDownTestSuite()[pri:0, instance:testscripts.FieldExperience@66480dd7]">&lt;&lt;tearDownTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
</table>
